<!-- STRUCTURE DE LA PAGE -->
<div class="container-fluid">
   <div class="row">
     <!-->En-tête -->
   <div class="col-md-4" id="titre">
     <!--Logo et titre -->
  <!--   <img src="/assets/images/fruit seller.jpg" alt ="logo marchand de fruits" width=100 height=100/>Fruit seller-->
     <img [attr.src]="server+world.logo" [attr.width]=100 [attr.height]=100/><span id="worldname">{{world.name}}</span>

   </div>
   <!--Gain -->
   <div class="col-md-4" id="dollards">$<span [innerHTML]="world.money | bigvalue"> </span></div>
   <!--Bouton et id -->
   <div class="col-md-4" >
     <button class ="buy" type="button" id="droite" (click)="onClickqtMulti()">
       {{this.qtmulti}}
    </button>
    <label for="id" id="droite">Your ID  : <input class="id" id ="id" [(ngModel)]="username" (change)="onUsernameChanged()"></label>


    </div>
</div>
<!--Partie gauche -->
   <div class="row">
     <!-- Boutons partie gauche -->
   <div class="col-md-2" data-toggle="modal">


     <button class ="investissement" type="button"> Unlocks</button> <br>
     <button class ="investissement" type="button"> Cash Upgrades</button> <br>
     <button class ="investissement" type="button"> Angel Upgrades</button> <br>
     <button class ="investissement" type="button"
 data-toggle="modal" (click)="managersModal.show()"><span class="badge" *ngIf="badgeManager() == true">New</span> Managers</button><br>
     <button class ="investissement" type="button"> Investors</button>


   </div>
<!-- Page des managers qui s'affichent quand on clique sur le bouton Managers
Si je n'ai pas débloqué le manager et que j'ai assez d'argent, un badge New s'affiche
Clic sur Hire Manager : engage un manager à condition que l'argent est suffisant-->
<div class="manager">
   <app-modal #managersModal>
    <div class="app-modal-header">
    <h4 class="modal-title">Choose your favorite managers !</h4>
    </div>
    <div class="app-modal-body">

    <div *ngFor="let manager of world.managers.pallier">
        <li>
            <img [src]="server+manager.logo" alt="" [attr.width]=60 [attr.height]=60/><br>
            <span>{{manager.name}}</span>
            <p>$ {{manager.seuil}}</p>
            <button class ="btnManager" type="button" *ngIf="manager.unlocked == false" (click)="managerHired(manager)">Hire!</button>
        </li>
    </div>
    </div>
    <div class="app-modal-footer">
    <button type="button" class="btn btn-default"
   (click)="managersModal.hide()">Close</button>
    </div>
   </app-modal>
</div>



   <!--partie droite -->



   <!--Produits -->

   <div class="col-md-10" >

        <div class="row">
          <!--cerises-->
          <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[0]"
          class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>

           <!--raisins-->
           <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[1]"
           class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>
       </div>


       <div class="row" >
         <!--melon-->
         <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[2]"
         class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>


          <!--fraises-->
          <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[3]"
          class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>
          </div>


       <div class="row" >
         <!--pasteque-->
         <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[4]"
         class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>


          <!--mangue-->
          <app-product [qtmulti]="qtmulti" [money]="world.money" [prod]="world.products.product[5]"
          class="product col-md-6" (notifyProduction)="onProductionDone($event)" (notifyBuyProduct)="onBuy($event)"></app-product>
          </div>
       </div>


</div>


<!--Pour faire appel au msg ephemere. Ca ne marche pas car pb de version d'angular-->
<toaster-container></toaster-container>

</div>
