<div class="col-sm" id="produit">

          <!--  <img src="/assets/images/cerises.png" alt ="cerises" width=100 height=100/>-->
            <img [attr.src]="server+'/'+product?.logo" [attr.width]=100 [attr.height]=100 (click)="barprogression()"/>



    <div class="progress" #bar style="display:inline-block;"> </div><br>
            <input class="qte" type="text" id ="qte" name="id" value="0" required >

            <var class ="quantite">{{product?.quantite}}</var>


    <var class ="temps">{{product?.timeleft | date:'mm:ss' }}</var>

</div>
